<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
    <link type="text/css" rel="stylesheet" href="/static/css/shouye.css" />
	</head>
	<body>
		<div class="all">
			<div class="c1">
				<ul class="u1">
					<li><a href="/carapp/index/">首页</a></li>
					<li><a href="/carapp/buycar/1/0/">我要买车</a></li>
					<li><a href="/carapp/salecar/">我要卖车</a></li>
					<li><a href="#">瓜子服务</a></li>
					<li><a href="#">瓜子金融</a></li>
					<li><a href="https://www.maodou.com/?ca_s=xcsop_guazipc&ca_n=topbar">毛豆新车</a></li>
					<li><a href="/carapp/login/">{{username}}</a></li>
					<li>|&nbsp;&nbsp;&nbsp;139-9597-0335</li>
				</ul>
			</div>
			<div class="a_img">
				<img src="/static/image/sucai/index/honglei1.jpg" id="img"/>
				<p id="wangzuo" onclick="left()">&#10094;</p>
				<p id="wangyou" onclick="right()">&#10095;</p>
				<ul>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<div class="b_img">
				<img src="/static/image/sucai/index/0.jpg" />
			</div>

		</div>
		<div class="zi1">
				<span style="font-size: x-large;margin-right: 30px;" >保买车</span>
				<span style="font-size: small;">限时出售|性价比高</span>
		</div>
		<div class="daiyan1">
			<img src="/static/image/sucai/index/8.jpg" />
		</div>
		<div class="daiyan2">
			<img src="/static/image/sucai/index/1.jpg" />
		</div>
		<div class="tu">
			<div class="tu1">
				<img src="/static/image/sucai/index/3.jpg"/>
				<p style="font-size: larger;">五万首付高品质</p>
				<p style="color: red;font-size:larger;">10-20万&nbsp;&nbsp;热门车</p>
			</div>
			<div class="te1">
				<p>选你所爱</p>
				<p>3年内准新车</p>
			</div>
		</div>
		<div class="tu2">
			<div class="tu3">
				<img src="/static/image/sucai/index/5.jpg" />
				<p style="font-size: larger;">零首付随便开</p>
				<p style="color: red;font-size:larger;">5-10万&nbsp;&nbsp;热销车</p>
			</div>
			<div class="te2">
				<p>选你所需</p>
				<p>3年内准新车</p>
			</div>


		</div>
	    <div class="zi2">
				<span style="font-size: x-large;margin-right: 30px;" >瓜子金融</span>
				<span style="font-size: small;">几十款精选金融产品 l 最快30分钟完成审批 l 95%以上申请可通过 l 金融专员全程服务</span>
		</div>
		<div class="daiyan3">
			<img src="/static/image/sucai/index/7.jpg" />
		</div>
		<div class="daiyan4">
			<img src="/static/image/sucai/index/2.jpg" />
		</div>
		<div class="tu4">
			<div class="tu5">
				<img src="/static/image/sucai/index/4.jpg"/>
				<p style="font-size: larger;">日供十元带贷回家</p>
				<p style="color: red;font-size:larger;">1万以内&nbsp;&nbsp;练手车</p>
			</div>
			<div class="te3">
				<p>选你所用</p>
				<p>3年内准新车</p>
			</div>
		</div>
		<div class="tu6">
			<div class="tu7">
				<img src="/static/image/sucai/index/6.jpg" />
				<p style="font-size: larger;">千元月供买好车</p>
				<p style="color: red;font-size:larger;">5-10万&nbsp;&nbsp;中产车</p>
			</div>
			<div class="te4">
				<p>选你所思</p>
				<p>3年内准新车</p>
			</div>
		</div>
		<div class="kuang1">
			<div class="k1">
			</div>
			<div class="zi3">
				<a href="/carapp/buycar/1/">我要买车></a>
			</div>
			<div class="sousuokuang1">
				<input id="xuanze" type="text" style=" width: 300px;height: 40px; border-radius: 10px;outline:medium;font-size:16px"placeholder="搜索您想要的车" />
			</div>
			<div class="logo1">
				<a href="/carapp/buycar/1/0" id="change">
					<img id="suosou" src="/static/image/sucai/index/sousuo.jpg" />
				</a>
			</div>
			<div class="xuanche1">
				<ul>
					<li><a href="/carapp/buycar/1/1">大众</a></li>
					<li><a href="/carapp/buycar/1/2">别克</a></li>
					<li><a href="/carapp/buycar/1/3">本田</a></li>
					<li><a href="/carapp/buycar/1/4">标致</a></li>
					<li><a href="/carapp/buycar/1/5">雪佛兰</a></li>
					<li><a href="/carapp/buycar/1/7">福特</a></li>
					<li><a href="/carapp/buycar/1/9">奥迪</a></li>
				</ul>
			</div>
			<div class="xuanche2">
				<ul>
					<li><a href="#">超值</a></li>
					<li><a href="#">急售</a></li>
					<li><a href="#">练手</a></li>
					<li><a href="#">准新</a></li>
					<li><a href="#">保卖车</a></li>
					<li><a href="#">SUV</a></li>
					<li><a href="#">MPV</a></li>
				</ul>
			</div>
			<div class="xuanche3">
				<ul>
					<li><a href="#">3万以下</a></li>
					<li><a href="#">3-5万</a></li>
					<li><a href="#">5-7万</a></li>
					<li><a href="#">7-9万</a></li>
					<li><a href="#">9-12万</a></li>
					<li><a href="#">12-16万</a></li>
					<li><a href="#">16-20万</a></li>
				</ul>
			</div>
			<div class="zi4">
				<a href="/carapp/salecar/">我要卖车></a>
			</div>
			<div class="zi5">
				<span style="font-size: larger;">已有</span>
				<span style="color: mediumaquamarine;font-size: x-large;">6888888</span>
				<span style="font-size: larger;">人提交申请</span>
			</div>
			<div class="sousuokuang2">
				<input type="text" id="saletel" style="font-size:16px; width: 400px;height: 40px; border-radius: 10px;outline:medium;"placeholder="请输入手机号" />
			</div>
			<div class="anniu1">
				<input type="submit" style="border-radius: 10px;outline:medium" class="b1" value="我要卖车" onclick="tijiaocar()"/>
				<input type="submit" style="border-radius: 10px;outline:medium" class="b2" value="免费估价" onclick="guajia()" />
			</div>
		</div>
		<div class="kuang2">
			<div class="k2">
				<img src="/static/image/sucai/index/tu1.jpg" />
			</div>
			<div class="zi6">
				<span style="font-size: xx-large;font-family: 'arial black';">让每个家庭都拥有</span>
				<span style="font-size: xx-large;font-family: 'arial black';color: mediumseagreen;">更好的车</span>
			</div>
			<div class="zi7">
				<span style="font-size: large;color: gray;font-family: '微软雅黑';">免费咨询电话：400-060-8632</span>
			</div>
			<div class="anniu2">
				<input type="submit" style="border-radius: 10px;outline:medium" class="b3" value="我要卖车" onclick="tijiaocar()"/>
				<input type="submit" style="border-radius: 10px;outline:medium" class="b4" value="我要买车" onclick="guajia()" />
			</div>
		</div>
		<div class="kuang3">
			<div class="tu8">
				<img src="/static/image/sucai/index/weibu.jpg" />
			</div>
		</div>
	</body>
	<script type="text/javascript" src="/static/js/jquery-1.11.1.js" ></script>
	<script type="text/javascript">
		var tiaojian=document.getElementById("xuanze");
		var el=document.getElementById('change');
		var fun=document.getElementById('suosou');
		fun.onclick=function() {
			if (tiaojian.value=="大众"){
			    el.setAttribute('href','http://127.0.0.1:8000/carapp/buycar/1/1');
			}
			else if(tiaojian.value=="别克"){
			    el.setAttribute('href','http://127.0.0.1:8000/carapp/buycar/1/2');
			}
			else if(tiaojian.value=="本田"){
			    el.setAttribute('href','http://127.0.0.1:8000/carapp/buycar/1/3');
			}
			else if(tiaojian.value=="标致"){
			    el.setAttribute('href','http://127.0.0.1:8000/carapp/buycar/1/4');
			}
			else if(tiaojian.value=="雪佛兰"){
			    el.setAttribute('href','http://127.0.0.1:8000/carapp/buycar/1/5');
			}else if(tiaojian.value=="宝马"){
			    el.setAttribute('href','http://127.0.0.1:8000/carapp/buycar/1/6');

			}else if(tiaojian.value=="日产"){
			    el.setAttribute('href','http://127.0.0.1:8000/carapp/buycar/1/8');
			}
			else if(tiaojian.value=="奥迪") {
                el.setAttribute('href', 'http://127.0.0.1:8000/carapp/buycar/1/9');
            }
			else if(tiaojian.value=="福特"){
			    el.setAttribute('href','http://127.0.0.1:8000/carapp/buycar/1/7');
			}
            else if(tiaojian.value=="奔驰"){
			    el.setAttribute('href','http://127.0.0.1:8000/carapp/buycar/1/10');
			}
			else if(tiaojian.value=="哈弗"){
			    el.setAttribute('href','http://127.0.0.1:8000/carapp/buycar/1/11');
			}
			else if(tiaojian.value=="东风风神"){
			    el.setAttribute('href','http://127.0.0.1:8000/carapp/buycar/1/12');
			}
			else if(tiaojian.value=="雪铁龙"){
			    el.setAttribute('href','http://127.0.0.1:8000/carapp/buycar/1/13');
			}
			else if(tiaojian.value=="现代"){
			    el.setAttribute('href','http://127.0.0.1:8000/carapp/buycar/1/14');
			}




		}

		var m;
		var slideshow;  //申明定时器的名字
//		定义轮播图的运行方法  通过改变img的src属性值
		function run(n){
			a = n-1;
			var src="/static/image/sucai/index/honglei"+n+".jpg";
			$(".a_img ul li").eq(a).addClass("bjc").siblings().removeClass("bjc");
			$("#img").attr("src",src);
			m =n;
			n++;
			if(n==5){
				n=1;
			}
			x = n;
			slideshow = setTimeout("run(x)",2000);
			
		}
//		向左时,每次图片的标记减一
		function left(){
			clearTimeout(slideshow);
			k = m-1;
			if(k==0){
				k=4
			}
			run(k);
		}
//		向右时,每次图片的标记加一
		function right(z){
			clearTimeout(slideshow);
			k = m+1;
			if(k==5){
				k=1
			}
			run(k);
		}
		$(".a_img ul>li").click(function(){
			clearTimeout(slideshow);
			var index = $(this).index()+1;
			console.log(index);
			run(index)
		})
		run(1)
		function guajia() {
		    location="http://127.0.0.1:8000/carapp/gujia/"
        }
        function tijiaocar() {

		    location="http://127.0.0.1:8000/carapp/tijiaocar/"
        }




	</script>
</html>
